h1 {
  color: #00FF00;
}

h2 {
  color: green;
}

h3 {
  color: rgb(0, 255, 0);
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.different-font {
  font-family: Arial, 'Times New Roman', Webdings;
}

.different-font-size {
  font-size: xx-large;
}

.text-alignment {
  text-align: center;
}

.text-indent {
  text-indent: 2em;
}

.letter-spacing {
  letter-spacing: 1em;
}

.word-spacing {
  word-spacing: 2em;
}

.hyphen-none {
  hyphens: none;
}

.hyphen-auto {
  hyphens: auto;
}

.hyphen-manual {
  hyphens: manual;
}