div {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin-left: 250px;
  margin-top: 250px;
  transition: background-color 1.7s 0.7s, margin-left 2s 0.5s;
  transition-timing-function: ease-in;
}

div:hover {
  margin-left: 350px;
  background-color: white;
}
