div {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin-left: 250px;
  margin-top: 250px;
  transition: background-color 1s, margin-left 1s;
}

div:hover {
  margin-left: 350px;
  background-color: white;
}
